* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url(../img/BASE-CRISTAIS.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}

.h1-titulo{
    background-color: rgb(20, 66, 131);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 1rem;
}

.h1-titulo h1{
    font-size: 2rem;
    text-align: center;
    color: #fff;
}

.container {
    text-align: center;
    background-color: #fff;
    /* background-image: linear-gradient(to right, rgb(49, 100, 170), rgb(255, 255, 255)); */
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: auto;
}

.conteiner-questao{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: auto;
    width: 71%;
}

.conteiner-questao2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
 
}
.conteiner-segmento{
    margin-top: 1rem;
}
.cnpj{
  display: flex;
  flex-direction: column;
  width: 70%;
  color: #fff;
  height: 60px;
  position: absolute;
  top: 10px;
  left: 3.5rem;
 

}
.cnpj input {
    padding: 5px;
    outline: none;
    font-size: 15px;
    background-color: #fff;
    border: 1px solid rgb(20, 66, 131);
    font-style: italic;
    /* flex-grow: 1; Faz o input crescer para ocupar o espaço restante */
    width: 26rem;
}

.label-input{
    display: flex;
   
}

.cnpj label{
  margin-left: 1rem;
}
.cnpj input::placeholder{
    color: #000;
}
.cnpj input:focus {
    box-shadow: 0px 0px 4px #000;
}
#nome_cli1, #nome_cli2{
    text-align: center; 
    font-size: 15px;
    color: #fff;
    margin-top: 10px;
    margin: auto;
} 

.h1-segmento {
    margin: 0;
    padding: 10px;
    color: rgb(20, 66, 131);
}
.btn-fechar {
    position: absolute;
    top: 1%;
    right: 3%;
    margin-top: 9px;
    margin-left: 18px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
}

#frase-inicial {

   
    font-size: 20px;
    margin-bottom: 15px;
    color: rgb(20, 66, 131);
}

 .button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2rem;
    padding-bottom: 3rem;
    width: 100%;
    gap: 1rem;
} 

.segment-btn {
    padding: 10px 0;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(20, 66, 131);
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transição suave */
}

.segment-btn:hover {
  transform: scale(1.05); /* Aumenta o botão em 10% */
}

/* .segment-btn:active {
    transform: scale(1.05); // Aumenta o botão em 5% ao clicar 
} */

.segment-btn2 {
    padding: 10px 0;
 
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(20, 66, 131);
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transição suave */

}
.segment-btn2:hover {
    transform: scale(1.05); /* Aumenta o botão em 10% */
  }
  

.questo-brt-btn {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 1.5rem;

}

.questo-brt-btn .questo-btn {
    padding: 10px 70px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(20, 66, 131);
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transição suave */
}

.questo-brt-btn .questo-btn:hover {
    transform: scale(1.05); /* Aumenta o botão em 10% */
  }


/* #mensagem-personalizada {
    font-size: 18px;
    margin-top: 20px;
} */



/* main {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.questo {
    background-image: linear-gradient( rgb(20, 66, 131), rgb(255, 255, 255));
    padding: 0px 10px;
    border-radius: 0px 10px 10px 10px;
    width: 43rem;
    height: 30rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: auto;
    justify-content: center;
    margin: 1px;
}

.questo-varejo {

    background-image: linear-gradient( rgb(20, 66, 131), rgb(255, 255, 255));
    padding: 0px 10px;
    border-radius: 0px 10px 10px 10px;
    width: 43rem;
    height: 30rem;
    /* max-width: 100%; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: auto;
    justify-content: center;
    margin: 1px;

}


/* p {
    font-size: 16px;
    margin-top: 15px;
} */

.img-logo {

    width: 150px;
    height: 150px;
    position: fixed;
    right: 0;
    bottom: 5%;
    margin-right: 2%;
   
}
/* .img-logo-categoria{
    width: 150px;
    height: 150px;
  
  
} */
.cont-img-logo-categoria{
  position: sticky;
  top: 30rem;
   margin-left: 1.8rem;
}



.questo input[type="radio"] {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}
.paragrafos{
  margin-top: 30px;
    width: 100%;
    color:#fff;
    padding: 0px 5px;
    text-align: center;
  
    
}

.radio-group {
    margin-top: 15px;
    display: flex;
    /* gap: px; */
    align-items: center;
    justify-content: center;
    color: #000;

}
.grupo-produto {
    display: flex;
    /* gap: 5px; */
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    color: #000;

}

label {
    text-align: center;
    margin: auto;

}

.radio-group label {
    padding: 10px 5px;
    border: 1px solid #000;
    border-radius: 4px;
    min-width: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.grupo-produto label {
    padding: 10px 5px;
    border: 1px solid #000;
    border-radius: 4px;
    min-width: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.grupo-produto input[type="radio"] {
    display: none;
}


/* .radio-group input[type="radio"]:checked + label {
     background-color: #4CAF50;
     color: white; 
   
  } */

.radio-group input[type="radio"] {
    display: none;
}

.hide {
    display: none;
}

.red {
    color: white;
    background-color: red;
}

.yellow {
    color: black;
    background-color: yellow;
}

.green {
    color: white;
    background-color: green;
}

.questo-btn:disabled {
    opacity: .4;
    cursor: default;
    color: #000;

}


.questo-brt-btn:disabled {
    opacity: .4;
    cursor: default;
    color: #000;
}


/* #agradecimento{
   
    color: rgb(20, 66, 131);
    margin-top: 20px;
    display: flex;
    justify-content: center;
} */

#agradecimento {
    color: rgb(20, 66, 131);
    margin-top: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    width: 100%;
}

#agradecimento p {
    margin: 0;
    font-size: 20px;
}

#voltarBtn {
    background-color:rgb(20, 66, 131);
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#voltarBtn:hover {
    background-color: #0056b3;
}



h2{
    font-size: 15px;
    border-bottom: 1px solid #000;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}


.cor-escolhido{
   margin-top: 1px;
   width: 8rem;
   height: 50rem;
   background-color: #fff;
   border-radius: 10px 0px 0px 10px;
  
  
}

.todas-cores {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
    margin-top: 0;
    margin-right: 10px;
}

.item-cor {
    display: flex;
     gap: 5px;
     flex-direction: column-reverse;
}

.todas-cores div {
 
    /* display: flex; */
    align-items: center;
   font-size: 16px;
    font-weight: bold;
    color: white;
 }

/* .industria{
    display: flex;
} */

.cor-vermelha {

    width: 100%;
    height: 20px;
    background-color: red;
    padding-left: 7px;
    text-align: center;
   padding: 2px;
}

.cor-amarela {
    width: 100%;
    height: 20px;
    background-color: yellow;
    text-align: center;
    padding: 2px;
   
}

.cor-amarela span{
    color: black;
}
.cor-verde {
    width: 100%;
    height: 20px;
    background-color: green;
   text-align: center;
   padding: 2px;
}

.item-cor p {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: black;
}


.cor-escolhido-varejo {
    margin-top: 1px;
    width: 12rem;
    height: 14.5rem;
    background-color: #fff;
    border-radius: 10px 0px 0px 10px;
}



.todas-cores-varejo {
  
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
    margin-top: 0;
    margin-right: 10px;
}

.item-cor-varejo {
    display: flex;
     gap: 5px;
     flex-direction: column-reverse;
}

.todas-cores-varejo div {
 
    display: flex;
    align-items: center;
   font-size: 16px;
    font-weight: bold;
    color: white;
 
  
}

/* .industria{
    display: flex;
} */

.cor-vermelha-varejo {
    width: 100%;
    height: 25px;
    background-color: red;
    padding-left: 7px;
   justify-content: center;
    padding: 4px;
}

.cor-amarela-varejo {
    width: 100%;
    height: 25px;
    background-color: yellow;
    justify-content: center;
    padding: 4px;
   
}

.cor-amarela-varejo span{
    color: black;
}
.cor-verde-varejo {
    width: 100%;
    height: 25px;
    background-color: green;
    justify-content: center;
   padding: 4px;
}

.item-cor-varejo p {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: black;
}

textarea {
    width: 100%;
  border: 1px solid rgb(20, 66, 131);
    outline: none;
    padding: 10px;
    font-size: 15px;
    margin-top: 20px;
    height: 5rem;
}

textarea:focus{
    box-shadow: 0px 0px 4px #000;
}

#opiniaoForm textarea::placeholder {
    color: #000;         
    font-size: 15px;    
    font-style: italic;  
     
}


 /* #opiniao {
    width: 100%;           
    height: 100px;        
    overflow-y: scroll;    
    padding: 10px;         
    border: 1px solid #ccc; 
    font-size: 16px;      
    box-sizing: border-box; 
} */

#opiniaoForm{
 
    width: 100%;   
      
} 







