 @media screen and (min-width: 50px) {

     /*Estilo da  tela inicial*/
     .container {
         text-align: center;
         background-color: #fff;
         padding: 0px 30px;
         border-radius: 10px;
         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
         width: 100%;
         margin: auto;
     }

     .cnpj{
        display: flex;
        flex-direction: column;
        width: 70%;
        color: #fff;
        height: 60px;
        position: absolute;
        top: 10px;
        left: 2.5rem;
       
      
      }

     .h1-titulo h1 {
         font-size: 1.5rem;
         text-align: center;
         color: #fff;

     }

     .h1-titulo {
         background-color: rgb(20, 66, 131);
         width: 100%;
         height: 60px;
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 3px 0px;
         margin-bottom: 0rem;

     }

     .h1-segmento {
         margin: 0;
         padding: 3px;
         font-size: 1.5rem;

     }
     #frase-inicial {
        
        margin-top: 10px;
        font-size: 18px;
         margin-bottom: 0px;
         color: rgb(20, 66, 131);
     }
     .button-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 1rem;
        padding-bottom: 3rem;
        width: 100%;
        gap: 1rem;
       
    } 
     

     .conteiner-questao {

         width: 100%;
         flex-direction: column-reverse;
     }

     .questo {
         text-align: center;
         width: 100%;
         padding: 10px 0px;
         margin-top: 0rem;
         background-image: linear-gradient(rgb(20, 66, 131), rgb(255, 255, 255));
         z-index: 2;
         border-radius: 0px 0px 0px 0px;
     }

     .item-cor {
         display: flex;
         gap: 5px;
         flex-direction: column-reverse;
     }

     .cor-escolhido {
         margin-top: 1px;
         width: 100%;
         height: 6rem;
         background-color: #fff;
         border-radius: 10px 0px 0px 10px;
     }

     .todas-cores {
         display: flex;
         justify-content: center;
         flex-direction: row;
         gap: 0px;
         margin-left: 10px;
         margin-top: 0;
         margin-right: 10px;
     }

     .cor-vermelha {

         width: 7rem;
         height: 25px;
         background-color: red;
         padding-left: 7px;
         text-align: center;
         padding: 4px;
     }

     .cor-amarela {
         width: 7rem;
         height: 25px;
         background-color: yellow;
         text-align: center;
         padding: 4px;

     }


     .cor-verde {
         width: 7rem;
         height: 25px;
         background-color: green;
         text-align: center;
         padding: 4px;
     }

     textarea {
         width: 90%;
         height: 60px;
         outline: none;
         padding: 10px;
         font-size: 15px;
         margin-top: 20px;

     }

     .questo-brt-btn .questo-btn {
         width: 90%;
         margin: auto;
     }

     .paragrafos {
         margin-top: 10px;
         width: 85%;
         color: #fff;
        padding: 0px 0px;
     }

    .questo-varejo {
        text-align: center;
        width: 100%;
        margin: auto;
        padding: 10px 0px;
        margin-top: 0rem;
        background-image: linear-gradient(rgb(20, 66, 131), rgb(255, 255, 255));
        z-index: 2;
        border-radius: 0px 0px 0px 0px;
    }


     .conteiner-questao2 {
        width: 100%;
        flex-direction: column-reverse;
    }

     .cor-escolhido-varejo {
        margin-top: 1px;
        width: 100%;
        height: 6rem;
        background-color: #fff;
        border-radius: 10px 0px 0px 10px;
    }

    .item-cor-varejo {
        display: flex;
        gap: 5px;
        flex-direction: column-reverse;
    }
    .todas-cores-varejo {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 0px;
        margin-left: 10px;
        margin-top: 0;
        margin-right: 10px;
    }

    .cor-vermelha-varejo {

        width: 7rem;
        height: 25px;
        background-color: red;
        padding-left: 7px;
        text-align: center;
        padding: 4px;
    }

    .cor-amarela-varejo {
        width: 7rem;
        height: 25px;
        background-color: yellow;
        text-align: center;
        padding: 4px;

    }


    .cor-verde-varejo {
        width: 7rem;
        height: 25px;
        background-color: green;
        text-align: center;
        padding: 4px;
    }

     /*Fim do Estilo da tela inicial*/

     @media screen and (min-width: 768px) {
         .container {
             width: 70%;
         }

         .h1-titulo h1 {
            font-size: 2rem;
            text-align: center;
            color: #fff;
    
        }

         .cnpj{
            display: flex;
            flex-direction: column;
            width: 70%;
            color: #fff;
            height: 60px;
            position: absolute;
            top: 10px;
            left: 4.2rem;
           
          
          }
          .paragrafos {
            margin-top: 10px;
            width: 70%;
            color: #fff;
        }

         .questo {
             text-align: center;
             width: 50%;
             padding: 10px 0px;
             margin-top: 0rem;
             background-image: linear-gradient(rgb(20, 66, 131), rgb(255, 255, 255));
             z-index: 2;
             border-radius: 0px 0px 0px 0px;
             margin: auto;
         }
         .questo-varejo {

            background-image: linear-gradient( rgb(20, 66, 131), rgb(255, 255, 255));
            padding: 0px 10px;
            border-radius: 0px 10px 10px 10px;
            width: 43rem;
            height: 30rem;
            /* max-width: 100%; */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            margin: auto;
            justify-content: center;
            margin: 1px;
        
        }

         .conteiner-questao {
            /* display: flex; */
            flex-direction: row-reverse;
            /* justify-content: center; */
            margin: auto;
            width: 85%;
            margin-top: 30px;
           
        }
        .conteiner-questao2 {
             /* display: flex; */
             flex-direction: row-reverse;
             /* justify-content: center; */
             margin: auto;
             width: 85%;
             margin-top: 30px;
            
          
            
        }
    

         .questo {
             width: 43rem;

         }

         h2 {
             font-size: 12px;
             border-bottom: 1px solid #000;
             text-align: center;
             padding: 5px;
             margin-bottom: 10px;
         }


         .cor-escolhido {
            margin-top: 1px;
            width: 9rem;
            height: 14.5rem;
            background-color: #fff;
            border-radius: 10px 0px 0px 10px;
   
   
        }
   
        .todas-cores {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            margin-left: 10px;
            margin-top: 0;
            margin-right: 10px;
        }
   
        .item-cor {
            display: flex;
            gap: 5px;
            flex-direction: column-reverse;
        }
   
        .todas-cores div {
   
            /* display: flex; */
            align-items: center;
            font-size: 16px;
            font-weight: bold;
            color: white;
        }
   
     
   
        .cor-vermelha {
   
            width: 100%;
            height: 20px;
            background-color: red;
            padding-left: 7px;
            text-align: center;
            padding: 2px;
        }
   
        .cor-amarela {
            width: 100%;
            height: 20px;
            background-color: yellow;
            text-align: center;
            padding: 2px;
   
        }
   
        .cor-amarela span {
            color: black;
        }
   
        .cor-verde {
            width: 100%;
            height: 20px;
            background-color: green;
            text-align: center;
            padding: 2px;
        }
   
        .item-cor p {
            margin: 0;
            font-size: 12px;
            font-weight: bold;
            color: black;
        }
   
   

         
         .cor-escolhido-varejo {
            margin-top: 1px;
            width: 9rem;
            height: 14.5rem;
            background-color: #fff;
            border-radius: 10px 0px 0px 10px;
   


        }

        .todas-cores-varejo {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            margin-left: 10px;
            margin-top: 0;
            margin-right: 10px;
        }

        .item-cor-varejo {
            display: flex;
            gap: 5px;
            flex-direction: column-reverse;
        }

        .todas-cores-varejo div {

            /* display: flex; */
            align-items: center;
            font-size: 16px;
            font-weight: bold;
            color: white;
        }

   

        .cor-vermelha-varejo {

            width: 100%;
            height: 20px;
            background-color: red;
            padding-left: 7px;
            text-align: center;
            padding: 2px;
        }

        .cor-amarela-varejo {
            width: 100%;
            height: 20px;
            background-color: yellow;
            text-align: center;
            padding: 2px;

        }

        .cor-amarela span {
            color: black;
        }

        .cor-verde-varejo {
            width: 100%;
            height: 20x;
            background-color: green;
            text-align: center;
            padding: 2px;
        }

        .item-cor p {
            margin: 0;
            font-size: 12px;
            font-weight: bold;
            color: black;
        }



     }

 }

 @media screen and (min-width: 1024px) {
     .container {
         width: 50%;
     }

     .h1-titulo h1 {
        font-size: 2rem;
        text-align: center;
        color: #fff;

    }

    .h1-titulo {
        background-color: rgb(20, 66, 131);
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px 20px;
        margin-bottom: 0rem;

    }

     .cnpj{
        display: flex;
        flex-direction: column;
        width: 70%;
        color: #fff;
        height: 60px;
        position: absolute;
        top: 10px;
        left: 5rem;
       
      
      }
      .cnpj label{
        margin-left: 1.5rem;
      }

     .conteiner-questao {
         /* display: flex; */
         flex-direction: row-reverse;
         /* justify-content: center; */
         margin: auto;
         width: 71%;
         margin-top: 30px;
        
     }

     .questo {
        background-image: linear-gradient( rgb(20, 66, 131), rgb(255, 255, 255));
        padding: 0px 0px;
        border-radius: 0px 10px 10px 10px;
        width: 43rem;
        height: 30rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        margin: auto;
        justify-content: center;
        margin: 1px;
    }

     h2 {
         font-size: 15px;
         border-bottom: 1px solid #000;
         text-align: center;
         padding: 5px;
         margin-bottom: 10px;
     }
     .paragrafos {
        margin-top: 10px;
        width: 100%;
        color: #fff;
    }

    .produto{
        padding: 0px 50px;
    }

    .questo-brt-btn {
        width: 100%;
        display: flex;
        justify-content: end;
        margin-top: 1.5rem;
     }

   
   .cor-escolhido {
         margin-top: 1px;
         width: 8rem;
         height: 14.5rem;
         background-color: #fff;
         border-radius: 10px 0px 0px 10px;


     }

     .todas-cores {
         display: flex;
         justify-content: center;
         flex-direction: column;
         gap: 10px;
         margin-left: 10px;
         margin-top: 0;
         margin-right: 10px;
     }

     .item-cor {
         display: flex;
         gap: 5px;
         flex-direction: column-reverse;
     }

     .todas-cores div {

         /* display: flex; */
         align-items: center;
         font-size: 16px;
         font-weight: bold;
         color: white;
     }

  

     .cor-vermelha {

         width: 100%;
         height: 20px;
         background-color: red;
         padding-left: 7px;
         text-align: center;
         padding: 2px;
     }

     .cor-amarela {
         width: 100%;
         height: 20px;
         background-color: yellow;
         text-align: center;
         padding: 2px;

     }

     .cor-amarela span {
         color: black;
     }

     .cor-verde {
         width: 100%;
         height: 20px;
         background-color: green;
         text-align: center;
         padding: 2px;
     }

     .item-cor p {
         margin: 0;
         font-size: 12px;
         font-weight: bold;
         color: black;
     }


 }

/* Para dispositivos móveis no modo paisagem */
 @media screen and (max-width: 600px) and (orientation: landscape) {}


 /* @media screen and (max-width: 1200px) and (orientation: landscape) {

 

    .nome_cli {
        top: 0px;
        left: 6rem;
        margin-top: 2px;
    }

    .btn-fechar {
        top: 2%;
        right: 2%;
        font-size: 18px;
        margin-top: 6px;
    }

    .hide-mens {
        padding-top: 10px;
        width: 280px;
        height: 50px;
    }

    h3,
    h2 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
        padding: 3px 8px;
    }

    .container {
        padding: 8px 16px;
        margin-top: 1rem;

    }

    .img-logo {
        width: 100px;
        height: 100px;
        bottom: 1%;
        right: 4%;
        display: none;
    }

    .button-container {
        gap: 12px;

        margin-left: 35px;
    }

    .segment-btn,
    .segment-btn2 {
        width: 90%;
    }

    .radio-group,
    .grupo-produto {
        margin-top: 0px;

    }

     .radio-group {
        display: flex;
        gap: 0;
        align-items: center;
        justify-content: center;
        margin-top: 5px;


    } 

    main {
        margin-top: 1.5rem;
    }

    .questo-brt-btn .questo-btn {
        width: 75%;
        margin: auto;
    }

    .h1-segmento {
        margin: 0;
        padding: 10px;
        display: block;

    }


} */